<h1>Users</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Change role</th>
      <th colspan="2">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%= render 'user', user: user %>
    <% end %>
  </tbody>
</table>