<div class="jumbotron">
	<h2><%= current_user.fullname + "'s tickets" %></h2>
</div>

<% if current_user.tickets.any? %>
  <% current_user.tickets.each do |ticket| %>
	  <div class="authors-tickets">
	    <table class="table">
	      <tbody>
	      	<tr>
	      		<th><%= render 'tickets/ticket', ticket: ticket %></th>
	      	</tr>	        
	      </tbody>
	    </table>
	  </div>
  	<% end %>
<% end %>