<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Account settings
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %> 
    <div class="dropdown-divider"></div>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
  </div>
</div>