= link_to '10', show_tickets_path(number: 10, filter_param: params[:filter_param], sorted_by: params[:sorted_by]), remote: true, class: 'dropdown-item'
= link_to '30', show_tickets_path(number: 30, filter_param: params[:filter_param], sorted_by: params[:sorted_by]), remote: true, class: 'dropdown-item'
= link_to '50', show_tickets_path(number: 50, filter_param: params[:filter_param], sorted_by: params[:sorted_by]), remote: true, class: 'dropdown-item'