<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter<%= ticket.id %>">
  Close this ticket
</button>

<div class="modal fade" id="exampleModalCenter<%= ticket.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" align="left">
        Do you really want to PERMANENTLY close this ticket?
        <br />
        This operation is NOT reversible!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        <%= button_to 'Close ticket', close_user_ticket_path(@ticket.id), method: :put, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
