<tr>
  <td><%= ticket.user.fullname %></td>
  <td><%= link_to ticket.title, ticket_path(id: ticket.id) %></td>
  <td><%= ticket.department.name %></td>
  <td><%= ticket.status.name.humanize.to_s %></td>
</tr>