<div class="container">
  <h1>All Tickets</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Department</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.user.full_name %></td>
          <td><%= link_to ticket.title, ticket_path(id: ticket.id) %></td>
          <td><%= ticket.department.department_name %></td>
          <td><%= ticket.status.status.humanize.to_s %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>