.container
  .row.searchEngine
    .col-md-6
      %h2 Search results 
    .col-md-4.offset-md-2
      = render 'tickets/partials/search_engine'
  %table.table.table-striped
    %thead
      %tr
        %th{ scope: 'col' } Author
        %th{ scope: 'col' } Title
        %th{ scope: 'col' } Department
        %th{ scope: 'col' } Status
    %tbody
      - @tickets.each do |ticket|
        = render 'ticket', ticket: ticket
      - unless @tickets.any?
        %tr
          %td{ colspan: '4' } Your query did not match any results
