 <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Department</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% cache @tickets do %>
        <% @tickets.each do |ticket| %>
          <% cache ticket do %>
            <%= render 'ticket', ticket: ticket %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>