.confirmation-header {
  text-align: center;
}

.confirmation-field {
  margin-bottom: 0.354em;
}

.confirmation-label {
  font-weight: bold;
  font-size: 0.9em;
}

.confirmation-form {
  padding-bottom: 1em;
  border-bottom: thin solid #eee;
}

.confirmation-button {
  margin-top: 1em;
}