.password-header {
  text-align: center;
}

.password-label {
  font-weight: bold;
  font-size: 0.9em;
}

.password-field {
  margin-bottom: 0.354em;
}

.password-form {
  padding-bottom: 1em;
  border-bottom: thin solid #eee;
}

.password-button {
  margin-top: 1em;
}
