.registration-header {
  text-align: center;
}

.registration-field {
  margin-bottom: 0.354em;
}

.registration-captcha {
  border-top: solid thin #eee;
  border-bottom: solid thin #eee;
  padding-top: 1em;
  padding-bottom: 1em;
}

.registration-personalData {
  border-bottom: thin solid #eee;
  padding-bottom: 1em;
}

.registration-password {
  margin-top: 1em;
  padding-bottom: 1em;
}

.registration-label {
  font-weight: bold;
  font-size: 0.9em;
}

.registration-cancel {
  margin-bottom: 0.8em;
}

.registration-form {
  padding-bottom: 1.5em;
}

.registration-button {
  
}