%footer.footer
  .footer-copyright.text-center.text-black-50.py-3
    Binar::Apps Internship 2018 
    %spac.spade &#9824;
    Bartosz Kowalewski - Piotr Hacaś - Tomasz Podsiadły - Michał Chudzik 
    %span.spade &#9824;