<% if user_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your account
          
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" >
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'dropdown-item' %>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">
            <%= link_to 'Show', user_path(current_user.id), class: 'dropdown-item' %>
          </a>
        </div>
      
      </li>
    </ul>
  </div>
</nav>
<% end %>